/* vim: set ts=2 sts=2 sw=2 et: */

/* Layout */

html, body {
  height: 100%;
}

body {
  background: #f6f6f6;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 75%;
  color: #333333;
}

table {
  width: 100%;
  border: none;
}

#content {
  min-width: 800px;
  max-width: 960px;
  margin: 0.5em auto;
}

/* Typography */

h1, h2, h3 {
  font-family: "Varela Round", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

/* Section Title and Stats */

h2.sectionTitle {
  float: left;
  text-align: left;
}

h3.serviceStateName {
  text-align: left;
}

h2.state {
  color: #f0f0f0;
  text-align: center;
  padding: 0.5em 0;
  margin: 0;
}
.section {
  overflow: auto;
  padding: 2em 0 0;
}

.stats {
  margin-top: 1.5em;
  float: right;
}

.stat {
  display: inline;
  padding: 0.25em 0.5em;
  margin-left: 1.5em;
  color: #f0f0f0;
}

/* Host/Service Status */

table.hostsTable {
  padding-top: 1em;
}

table.servicesTable {
  padding-bottom: 1em;
}

.subhosts {
  text-align: left;
  padding: 0.5em;
}

th, td {
  padding: 0.25em 0.5em;
}

th, td.hostname {
  background-color: #DDDDDD;
  color: #333;
  font-weight: bold;
}

tr.critical,
tr.down,
tr.warning,
tr.unknown,
tr.notification {
  color: #f0f0f0;
}

tr td.attempts,
tr td.state {
  text-align: center;
}

tr td.duration {
  text-align: right;
}

.up, .ok {
  background-color: #319462;
}

.warning {
  background-color: #E57E22;
}

.critical, .down {
  background-color: #C0493B;
}

.pending {
  background-color: #CCCC99;
}

.unknown {
  background-color: #CC9999;
}

.notification {
  background-color: #5C9CA1;
}

.acknowledged {
  background-color: #DDDDDD;
}

.unreachable {
  background-color: #562547;
}

.output {
  white-space: normal;
  text-align: left;
}

/* Status File State */

.statusFileState {
  padding: 0.5em 0;
  text-align: center;
  color: #DDDDDD;
}

.statusFileState.ok {
  color: #319462;
  background: none;
}

.statusFileState.critical {
  color: #C0392B;
  background: none;
}
